.score-container {
    position: absolute;
    top: 50px; /* Отступ сверху */
    font-family: 'Arial', sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: white;
    text-shadow: 0 5px 15px rgba(0,0,0,0.3);
    user-select: none; /* Чтобы текст нельзя было выделить */
}

/* Эффект легкого покачивания цифр */
#score {
    display: inline-block;
    transition: transform 0.1s;
}
