#shopMenu {
    position: fixed;
    top: 50px;
    right: 20px;
    width: 250px;
    background: #333;
    color: white;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

.shop-hidden {
    transform: translateX(120%); /* Прячем за экран */
}

.shop-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #555;
    padding-bottom: 10px;
}

button {
    cursor: pointer;
    padding: 5px 10px;
}
